body {
    background-color: lightblue;
}
h1,h2,h3 {
    color: navy;
    font-family: Arial, sans-serif;
}

a.button-link, a.button-link:visited {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s;
}

a.button-link:hover, a.button-link:active {
  background-color: #0056b3;
  color: #fff;
}