<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}דוגמה לתפריט{% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">דף הבית</a> |
        <a href="{{ url_for('about') }}">אודות</a> |
        <a href="{{ url_for('contact') }}">צור קשר</a>
    </nav>
    <hr>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>